.module {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    align-items: center;
    z-index: 100;
}

.module__container {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 90vh;
    height: auto;
    margin: 0 auto;
}

.module__container-auth {
    display: block;
    position: relative;
    text-align: center;
}

.auth__box input {
    display: block;
    background-color: #e9e9e94c;
    padding: 2%;
    width: 70%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3% auto;
}

.auth__submit input {
    display: block;
    background-color: rgba(255, 15, 0, .7);
    padding: 2%;
    width: 40%;
    height: auto;
    border: 0;
    border-radius: 10px;
    margin: 5% auto;
    color: white;
}

.auth__close {
    display: block;
    position: absolute;
    right: 2%;
    top: 0;
    width: 4vw;
    height: auto;
    cursor: pointer;
}

.auth__close img {
    width: 100%;
    height: auto;
}

/* My Aplication */
.my-aplictation {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 90vh;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2%;
}

.my-aplication__heading {
    text-align: center;
}

.out-aplication {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #5d2424;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: 3% auto;
}

.out-aplication__name {
    text-align: center;
}

.out-aplication__name h1 {
    margin: 0;
    font-size: 22px;
}

.out-aplication__flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.out-aplication__box {
    display: block;
}

.out-aplication__box h1 {
    font-size: 20px;
}

.out-aplication__box h2 {
    font-size: 22px;
}